<form onsubmit="return false" method="post" name="login" autocomplete="off">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
    </div>

    <div class="mb-2">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" required>
    </div>
    <div class="mb-3">
        <a href="/reset">Forgot password?</a>
    </div>

    <div>
        <button class="btn btn-primary" id="confirmLogin" type="submit" >Login</button>
    </div>

</form>