{% include 'layouts/header.twig' %}

<main class="container-fluid bg-light pt-5 h-100">
    <div class="card w-50 mx-auto">
        <div class="card-body text-center">
            <h3 class="card-title">404 Page</h3>
            <p class="card-text">Oops... The page you're looking for is not found!</p>
            <a href="/" class="card-link ">Get back to the main page</a>
        </div>
    </div>
</main>
