{% include 'layouts/header.twig' %}
{% include 'layouts/adminNav.twig' %}
<div class="container">
    <div class="card p-3 mt-5">
        <table id="table_id" class="display table table-striped table-bordered">
            <thead>
            <tr>
                <th>Session ID</th>
                <th>IP</th>
                <th>User Agent</th>
                <th>Login ID</th>
            </tr>
            </thead>
            <tbody>
            {% for session in sessions %}
                <tr>
                    <td>{{ session['session_name'] }}</td>
                    <td>{{ session['ip'] }}</td>
                    <td>{{ session['user_agent'] }}</td>
                    <td>{{ session['user_id'] ? session['user_id'] : 'none' }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

</body>
</html>