{% include 'layouts/header.twig' %}

<div class="container mt-5 w-50">

    <button class="btn btn-primary">
        Login
    </button>
    <button class="btn btn-primary">
        Register
    </button>

    <form action="" name="login">
        <div class="mb-3">
            <label for="emailLogin" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailLogin" placeholder="name@example.com" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label for="passwordLogin" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordLogin" required>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>

    <form name="register"  >
        <div class="mb-3">
            <label for="emailRegister" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailRegister" placeholder="name@example.com" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameRegister" placeholder="Obi-Wan Kenobi" required>
        </div>
        <div class="mb-3">
            <label for="passwordRegister" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordRegister" required>
        </div>
        <div class="mb-3">
            <label for="passwordRegisterConfirm" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="passwordRegisterConfirm" required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>


</div>
