{% include 'layouts/header.twig' %}
{% include 'layouts/userNav.twig' %}

<div class="container ">
    <div class="card w-50 text-center mt-5 mx-auto">
        <h4 class="mt-3">Slim&Twig project</h4>
        <h5 class="my-3">Hello there, {{ name ? name : 'stranger' }}!</h5>
    </div>


</div>



